* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Segoe UI', sans-serif;
  min-height: 100dvh;
  background: linear-gradient(135deg, #111827, #1a4432);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*======= Main container =======*/
.container {
  width: 100%;
  max-width: 43.75rem;
  padding: 1.25rem;
}

/*======= Status =======*/
.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

#status-indicator {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}
#status-text {
  color: #fff;
}

/*======= timer Card =======*/
.timer-card {
  background: rgba(31, 41, 55, 0.6);
  border-radius: 1.5rem;
  padding: 2.5rem;
  border: 2px solid transparent;
  margin-bottom: 2rem;
  text-align: center;
}

.timer {
  color: #fff;
  font-size: 4rem;
  font-family: monospace;
  margin-bottom: 1.875rem;
}

/*======= Controls =======*/
.controls {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.btn {
  color: #fff;
  padding: 0.75rem 1.25rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.start { background: #22C55E;}
.pause { background: #EAB308; color: #111;}
.reset { background: #EF4444;}
.lap { background: #3B82F6;}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*======= Shortcuts =======*/
.shortcuts {
  font-family: 'Segoe UI', sans-serif;
  background: rgba(31, 41, 55, 0.4);
  padding: 2.5rem;
  border-radius: 1rem;
  margin-bottom: 1.87rem;
}

.shortcuts h3 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
}

.shortcuts ul{
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-top: 0.625rem;
}

.shortcuts li{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0.44rem;
  font-size: 0.9rem;
}

kbd {
  color: #fff;
  background: linear-gradient(135deg, #111827, #1a4432);
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  font-family: monospace;
}

/*======= Laps =======*/
.laps {
  background: rgba(31, 41, 55, 0.4);
  padding: 20px;
  border-radius: 16px;
}

.lap-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  background: rgba(55, 65, 81, 0.4);
  margin-bottom: 8px;
  font-family: monospace;
}

.hidden {
  display: none;
}
