@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.dark{
  background-color: #0F172A;
}

.clock-container{
  font-family: "Orbitron", sans-serif;
  width: 100%;
  max-width: 32rem; 
  border-radius: 1rem; 
  padding: 2rem; 
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 
  backdrop-filter: blur(40px); 
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms; 
  border: 1px solid currentColor;
}

.clock-container.dark{
  background-color: red;
}